.MapParent{
    width: 76rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10rem;
    border: 2px solid black;
    margin-top: 7rem;
}
.MoviesDiv{
    width: 34rem;
    display: flex;
    margin: 1.2rem 1rem;
    border: 1px solid black;
    padding: 0.5rem 0.8rem;
    background-color: whitesmoke;
}
.imgDiv>img{
    width: 16rem;
    height: 10rem;
    padding-top: 0.5rem;
}
.detailsDiv{
    width: 18rem;
    /* border: 1px solid black; */
    margin-left: 0.8rem;
    padding-left: 1rem;
    line-height: 1rem;
}
.mapBtnDiv{
    display: flex;
}